In [34]:
from bs4 import BeautifulSoup
import pandas as pd

input_file = 'reddit.html'

with open(input_file, 'r', encoding='utf-8') as f:
    contents = f.read()
    soup = BeautifulSoup(contents, "html.parser")
    
    # Find all <p> tags, get their text, and store it in a list
    divs_with_class = soup.find_all('div', class_='py-0 xs:mx-xs mx-2xs inline-block max-w-full')

    soup = BeautifulSoup(str(divs_with_class), 'html.parser')
    paragraphs_text = []
    for div in divs_with_class:
        # Find all <p> tags within the current div and get their text
        paragraphs = [p.get_text() for p in div.find_all('p')]
        # Merge the text from multiple <p> tags into a single text block
        merged_paragraph = ' '.join(paragraphs)
        # Append the merged text to the list
        paragraphs_text.append(merged_paragraph)

# Print the list of text inside <p> tags
messages = []

import re

def filter_text(text):
    # Remove leading and trailing whitespace
    text = text.strip()
    
    # Remove HTML tags
    text = re.sub('<[^<]+?>', '', text)
    
    # Remove extra whitespace (including newlines)
    text = re.sub('\s+', ' ', text)
    
    return text
    
for text in paragraphs_text:
    if len(text) > 1:
        messages.append(filter_text(text))

In [35]:
msg_df = pd.DataFrame({'Message': messages, 'Sentiment': '-'})
i = 0
for msg in msg_df['Message']:
    print( msg)
    print()
    if i > 5: 
        break
    i += 1

He looks like such a friendly dude, it’s hard to believe this is the same dude who made the most psychotic faces in No Way Home, The Lighthouse, etc. Dude has incredible range.

In those movies, Willem was on a sabbatical.

Yup he was being Da Foe.

Honey

Actors who play the worst villians are usually the chillest people irl.

Apparently Louise Fletcher, who specialized in evil characters (Nurse Ratched in Cookoos Nest, Kai Winn on DS9 to name some of the more famous ones) was one of the nicest people in Hollywood.

Didn’t she win an Oscar for playing Nurse Ratched?

In [36]:
msg_df.head()

                                             Message Sentiment
0  He looks like such a friendly dude, it’s hard ...         -
1       In those movies, Willem was on a sabbatical.         -
2                           Yup he was being Da Foe.         -
3                                              Honey         -
4  Actors who play the worst villians are usually...         -

In [45]:

# msg_df.to_csv('Messages/messages.csv', index=False)

In [57]:
# extend the existing csv file.
df = pd.read_csv('Messages/messages.csv')

In [58]:
df.shape

(97, 2)

In [59]:
df

                                              Message Sentiment
0   He looks like such a friendly dude, it’s hard ...         -
1        In those movies, Willem was on a sabbatical.         -
2                            Yup he was being Da Foe.         -
3                                               Honey         -
4   Actors who play the worst villians are usually...         -
..                                                ...       ...
92   The confident smile of the carrier of 8.5 inches         -
93                             He's hunting spiderman         -
94  DaFoe is just amazing. Great actor, seems like...         -
95  He genuinely seems happy to have that picture ...         -
96                                                NaN         -

[97 rows x 2 columns]

In [60]:
df_combined = pd.concat([df, msg_df], ignore_index=True)
df_combined_no_dup = df_combined.drop_duplicates()
df_combined_no_dup.reset_index(drop=True, inplace=True)

In [61]:
df_combined_no_dup

                                              Message Sentiment
0   He looks like such a friendly dude, it’s hard ...         -
1        In those movies, Willem was on a sabbatical.         -
2                            Yup he was being Da Foe.         -
3                                               Honey         -
4   Actors who play the worst villians are usually...         -
..                                                ...       ...
92   The confident smile of the carrier of 8.5 inches         -
93                             He's hunting spiderman         -
94  DaFoe is just amazing. Great actor, seems like...         -
95  He genuinely seems happy to have that picture ...         -
96                                                            -

[97 rows x 2 columns]

In [62]:
df_combined_no_dup

                                              Message Sentiment
0   He looks like such a friendly dude, it’s hard ...         -
1        In those movies, Willem was on a sabbatical.         -
2                            Yup he was being Da Foe.         -
3                                               Honey         -
4   Actors who play the worst villians are usually...         -
..                                                ...       ...
92   The confident smile of the carrier of 8.5 inches         -
93                             He's hunting spiderman         -
94  DaFoe is just amazing. Great actor, seems like...         -
95  He genuinely seems happy to have that picture ...         -
96                                                            -

[97 rows x 2 columns]

In [63]:
df_combined_no_dup.to_csv('Messages/messages.csv', index=False)