In [82]:
import pandas as pd

In [179]:
df = pd.read_excel('Messages/merged.xlsx')

In [180]:
df.tail()

                                                 Message  Sentiment
17412            I wanna go to the extra show really bad          1
17413         just stop talking if ur gonna be that mean          1
17414  I want it to rain today! Like full thunderstor...          0
17415  Math class ugh.  Rather be a class act.  **** ...          1
17416    ive been trying to get over her for years, i...          1

In [165]:
df2 = pd.read_csv('Messages/kmsgz/test.csv',encoding='latin-1')

In [166]:
df2.head()

,textID,text,sentiment,Time of Tweet,Age of User,Country,Population -2020,Land Area (Km²),Density (P/Km²)
0,f87dea47db,Last session of the day http://twitpic.com/67ezh,neutral,morning,0-20,Afghanistan,38928346.0,652860.0,60.0
1,96d74cb729,Shanghai is also really exciting (precisely -...,positive,noon,21-30,Albania,2877797.0,27400.0,105.0
2,eee518ae67,"Recession hit Veronique Branquinho, she has to...",negative,night,31-45,Algeria,43851044.0,2381740.0,18.0
3,01082688c6,happy bday!,positive,morning,46-60,Andorra,77265.0,470.0,164.0
4,33987a8ee5,http://twitpic.com/4w75p - I like it!!,positive,noon,60-70,Angola,32866272.0,1246700.0,26.0

In [167]:
df2.dropna(inplace=True)

In [168]:
df2.drop(columns=[df2.columns[0]],axis=1,inplace=True)

In [169]:
df2.drop(columns=df2.columns[2:],axis=1,inplace=True)

In [170]:
df2.tail()

                                                   text sentiment
3529  its at 3 am, im very tired but i can`t sleep  ...  negative
3530  All alone in this old house again.  Thanks for...  positive
3531   I know what you mean. My little dog is sinkin...  negative
3532  _sutra what is your next youtube video gonna b...  positive
3533   http://twitpic.com/4woj2 - omgssh  ang cute n...  positive

In [171]:
df2.columns = ['Message', 'Sentiment']

In [172]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3534 entries, 0 to 3533
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Message    3534 non-null   object
 1   Sentiment  3534 non-null   object
dtypes: object(2)
memory usage: 82.8+ KB

In [173]:
df2 = df2[(df2['Sentiment'] == 'positive') | (df2['Sentiment'] == 'negative')]
df2['Sentiment'].unique()

array(['positive', 'negative'], dtype=object)

In [174]:
df2.loc[:, 'Sentiment'] = df2['Sentiment'].apply(lambda x: 0 if x == 'positive' else 1)

In [175]:
df2.tail()

                                                Message Sentiment
3529  its at 3 am, im very tired but i can`t sleep  ...         1
3530  All alone in this old house again.  Thanks for...         0
3531   I know what you mean. My little dog is sinkin...         1
3532  _sutra what is your next youtube video gonna b...         0
3533   http://twitpic.com/4woj2 - omgssh  ang cute n...         0

In [176]:
df2['Sentiment'].unique()

array([0, 1], dtype=object)

In [181]:
new_df = pd.concat([df,df2], axis=0, ignore_index=True)

In [183]:
new_df.head()

                                             Message Sentiment
0   so sorry to hear that.  I lost two hard drive...         1
1  Received our first bit of spam from Twitter - ...         1
2   sold, so i hit cash and just took the tax out...         1
3  yeah its Friday! I thought my sis was coming i...         1
4  HALLELUJAH! I`ve finally finished my Careers a...         0

In [187]:
shuffled_df = new_df.sample(frac=1).reset_index(drop=True)

In [188]:
shuffled_df.head()

                                             Message Sentiment
0  Oh I`m really tired of these migraines! #Endom...         1
1   Loved the comment on flashcads! I`m old schoo...         0
2                                        mine too <3         0
3  Thinks that my friends lifes go around with wh...         1
4   Helloooo (: Star Wars day is cool  LOOL. Wen ...         0

In [189]:
shuffled_df.to_excel('Messages/merged.xlsx',index=False)

In [190]:
shuffled_df

                                                 Message Sentiment
0      Oh I`m really tired of these migraines! #Endom...         1
1       Loved the comment on flashcads! I`m old schoo...         0
2                                            mine too <3         0
3      Thinks that my friends lifes go around with wh...         1
4       Helloooo (: Star Wars day is cool  LOOL. Wen ...         0
...                                                  ...       ...
19516   everyone loves u sarah not just the tweeters!...         0
19517                 i`ve seen inkheart- i liked it too         0
19518   happy birthdayyy! hope you have an awesome da...         0
19519                                           nice one         0
19520  sorry for taking over twitter with my i-can`t-...         1

[19521 rows x 2 columns]